Q1. Create one variable containing following type of data:

(i)	 string

(ii) list

(iii) float

(iv)  tuple

In [1]:
#i)creating variable using String
s1="Akash"
print(s1)

Akash

In [2]:
#i)creating variable using list
list=[23,45,56.6,"Python",4.5j,True]
print(list)

[23, 45, 56.6, 'Python', 4.5j, True]

In [3]:
#i)creating variable using float
a=3.14
print(a)

3.14

In [6]:
#i)creating variable using tuple
tuple=(34,34.1,"Java",False,"Audi")
print(tuple)

(34, 34.1, 'Java', False, 'Audi')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
#1)var1=''
var1=''
type(var1)

str

In [12]:
#(ii) var2 = ‘[ DS , ML , Python]’
var2='[ DS , ML , Python]'
type(var2)

str

In [16]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS', 'ML','Python' ]
type(var3)

list

In [18]:
#var4=1
var4=1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [21]:
a=10
b=5
a/b

2

In [22]:
a%b

0

In [23]:
a//b

2

In [25]:
2**4

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [32]:
l=[34,67,56.3,True,"Akash",34.8j,"Mango",3456.7,False,"cricket"]
for i in l:
 print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [37]:
a = int(input("Enter number a: "))
b = int(input("Enter number b: "))

count = 0  # Initialize the count

while a % b == 0:
    a = a // b  # Divide A by B
    count += 1  # Increment the count

if count > 0:
    print(f"{b} divides {a} {count} times.")
else:
    print(f"{b} does not divide {a}.")

Enter number a:  8
Enter number b:  2

2 divides 1 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [44]:
num=[34,45,99,9,24,23,45,24,27,21,25,124,235,456,56,34,23,123,445,567,342,8,9,54,64]
for i in num:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

34 is not divisible by 3.
45 is divisible by 3.
99 is divisible by 3.
9 is divisible by 3.
24 is divisible by 3.
23 is not divisible by 3.
45 is divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
21 is divisible by 3.
25 is not divisible by 3.
124 is not divisible by 3.
235 is not divisible by 3.
456 is divisible by 3.
56 is not divisible by 3.
34 is not divisible by 3.
23 is not divisible by 3.
123 is divisible by 3.
445 is not divisible by 3.
567 is divisible by 3.
342 is divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
54 is divisible by 3.
64 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

1)
Mutable object:
In mutable object we can change the value of any given list at only particular index position.
for eg list in these we  can change the value of index.
2)Immutable object:
In Imutable object we cannot change the value of given list of their particular index positon. if we want to change then we have to cahnge the whole list.
for eg string.

In [45]:
#exmple of mutable object
l=[23,34.5,3.14j,"mango",'k',5456]
l

[23, 34.5, 3.14j, 'mango', 'k', 5456]

In [47]:
l[4]="Akash"
l

[23, 34.5, 3.14j, 'mango', 'Akash', 5456]

In [48]:
#example of Immutable object
s1="Python"
s1

'Python'

In [49]:
s1[2]='w'
s1

TypeError: 'str' object does not support item assignment

In [50]:
#if we want to change we havw ti cahnge the whole value of particualr variable
s1="Java"
s1

'Java'